.dropspace {
  width: 500px;
}

.img {
  width: 100%;
  transition: transform 0.3s ease;

  &::selection {
    background: none;
  }
}

.rotated {
  transform: rotateY(180deg);
  transition: transform 0.3s ease;
}