:root {
  // Title colors
  --title: #231a1a;
  --title-glitch-first: #cb5260;
  --title-glitch-second: #77363d;

  // Text colors
  --text-light-primary: #fffaf6;
  --text-light-secondary: #fcf1e7;
  --text-dark-primary: #231a1a;
  --text-dark-secondary: #4d282c;

  // Accents
  --accent-first: #cb5260;
  --accent-second: #77363d;

  // Background
  --background-dark-primary: #77363d;
  --background-dark-secondary: #4d282c;
  --background-darkest: #231a1a;
}