.addon {
    background-color: var(--background-dark-secondary);

    font-family: Montserrat, sans-serif;
    font-size: clamp(0.625rem, 1vw, 0.75rem);
    color: var(--text-light-primary);
    text-align: center;
    padding: 5px;
    margin: 0;
}